[Unit]
Description=Nextcloud Sync (headless)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/mnt/porygonStorage

[Service]
Type=oneshot
ExecStart=/usr/bin/flock -n /tmp/nextcloudsync.lock \
  /mnt/porygonStorage/Storage/Scripts/NextCloud/NextCloudSync.sh
User=charlie
StandardOutput=null
StandardError=journal
EnvironmentFile=/home/user/nextcloud.env
